.Card {
    width: 350px;
    height: 600px;
    box-shadow: 1px 1px 10px 5px #ccc;
    border-radius: 15px;
    overflow: hidden;
}

.Card:hover {
    height: 100%;
    cursor: pointer;
}
  
.Card-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 250px);
}
  
.Card-img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.Card-button {
    display: flex;
    justify-content: center;
    margin-top: auto;
}


