.Header {
    background: rgb(208, 208, 208);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.Header h1 {
    margin: auto;
    font-size: 30px;

}

.ContactsClass {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    
}

.ShopClassButton {
    margin: auto;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.ShopClassButton:hover,
.ShopClassButton.active {
    color: red;
    transform: scale(1.5);
}

.Shop-Cart {
    position: absolute;
    top: 25px;
    right: 200px;
    width: 150px;
    min-height: 30px;
    background: #ccc;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
}



@media screen and (min-width: 320px) and (max-width: 768px){
    .Header {
        height: calc(80/768*100vw);
    }

    .ContactsClass {
        font-size: calc(20/768*100vw);
    }

    .Header h1 {
        font-size: calc(30/768*100vw);
    }

    .SearchInput {
        margin-top: calc(25/768*100vw);
        height: calc(26/768*100vw);
        width: calc(250/768*100vw);
    }

    

    
}

@media screen and (min-width: 769px) and (max-width: 1440px){
    .Header {
        height: calc(80/1440*100vw);
    }

    .ContactsClass {
        font-size: calc(20/1440*100vw);
    }

    .Header h1 {
        font-size: calc(30/1440*100vw);
    }

    .SearchInput {
        margin-top: calc(25/1440*100vw);
        height: calc(26/1440*100vw);
        width: calc(250/1440*100vw);
    }

}

@media screen and (min-width: 1440px){
    .Header {
        height: calc(80/1440*100vw);
    }

    .ContactsClass {
        font-size: calc(20/1440*100vw);
    }

    .Header h1 {
        font-size: calc(30/1440*100vw);
    }

    .SearchInput {
        margin-top: calc(25/1440*100vw);
        height: calc(26/1440*100vw);
        width: calc(250/1440*100vw);
    }

}